# Copy File To gradles.properties
GROUP=com.you.group.id

signing.keyId=xxxxxxx
signing.password=YourPublicKeyPassword
signing.secretKeyRingFile=~/.gnupg/secring.gpg

sonatypeUsername=YourUserNameHere
sonatypePassword=YourRealPasswordHere
